@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
@font-face {
  font-family: 'Ogonek';
  src: url('styles/Ogonek.ttf') format('truetype');
}
@import url("styles/navbar-footer.css");
@import url("styles/layout.css");
@import url("styles/headings.css");
@import url("styles/sliders.css");
@import url("styles/filters.css");
@import url("styles/store-resto.css");
@import url("styles/movies.css");

/* utils */
.center {
    text-align: center;
    margin: 0 auto;
}
.padding {
    padding: 20px;
}
.padding-50 {
    padding: 50px;
}
.notification {
  font-size: 18pt;
}
.padding-v {
    padding: 10px 0;
}
.pull-left {
    text-align: left;
}
.pull-right {
    text-align: right;
}
.lightgray {
	color: lightgray;
    white-space: pre-wrap;
    overflow: hidden;
}
.float-none {
  float: none;
}
