/*search bar*/
.search {
    display: inline-block;
    margin-top: 20px;
    border-radius: 3px;
    padding: 5px;
    min-width: 130px;
}
/*category select*/
.Select {
    display: inline-block;
    margin-right: 100%;
    margin-top: 14px;
}
.Select-clear-zone {
    display: none !important;
}
.Select-input{
    min-width: 130px;
}
/*sales offers*/
.sales-controls {
    margin-top: 50px;
    color: gray;
    margin: 55px 0px 0px 0px;
    padding: 50px;
    width: 288px;
    height: 288px;
    border-color: lightgray;
    border-radius: 5px;
    border-style: double;
} 
/*desktop*/
@media (min-width: 1024px) {
    .sales-controls {
        float: left;
        width: 300px;
        height: 292px;
    }
}
/*mobile*/
@media (max-width: 1024px) {
    .sales-controls {
        border-style: none;
        width: unset;
        height: unset;
        padding: unset;
    }
    .ofertas-container {
        text-align: center;
    }
}
