/*search bar*/
.search-container {
    padding-top: 60px;
    padding-bottom: 130px;
}
input.search {
    border-style: solid;
    background: white;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    padding: 9px;
}
.search {
    font-size: smaller;
    display: inline-block;
    margin-top: 20px;
    border-radius: 3px;
    padding: 5px;
    min-width: 130px;
}
/*category select*/
.Select {
    display: inline-block;
    margin-right: 100%;
    margin-top: 14px;
}
.Select-clear-zone {
    display: none !important;
}
.Select-input{
    min-width: 130px;
}
/*sales offers*/
.sales-controls {
    text-align: left;
    padding-left: 20px;
    margin-top: 50px;
    color: gray;
    width: 215px;
    height: 260px;
    box-shadow: inset 0 0 0 1px #BDBDBD;
}
.controls-por-fecha {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
}
.controls-fecha {
    margin: 0;
    padding-top: 0;
    padding-bottom: 28px;
}
/*mobile*/
@media (max-width: 1200px) {
    .sales-controls {
        border-style: none;
        width: unset;
        height: unset;
        padding: unset;
        box-shadow: unset;
        float: none !important;
        display: inline-flex;
        margin: 0;
    }
    .sales-controls a {
        padding: 20px;
    }
    .controls-fecha {
        padding-bottom: 0;
    }
    .controls-por-fecha.desktop {
        display: none;
    }
    .controls-por-fecha.mobile {
        display: block;
        padding: 0;
        margin: 40px;
        color: #BDBDBD;
    }
}
