/*background line for heading*/
h2.background {
    font-family: 'Ogonek';
    margin: 40px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    font-size: 12pt;
}
h2.background:before {
    font-family: 'Ogonek';
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    z-index: -1;
}
h2.background span {
    font-family: 'Ogonek';
    background: #fff;
    padding: 0 80px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    h2.background { font-size: 10pt;}
}
@media (max-width: 768px) {
    h2.background { font-size: 9pt;}
    h2.background:before { display: none;}
    h2.background span { padding: 0 20px; margin: 0 }
}
