/*background line for heading*/
h2.background {
    font-family: 'Ogonek';
    margin: 60px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    font-size: 14pt;
}
h2.background:before {
    font-family: 'Ogonek';
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    z-index: -1;
}
h2.background span {
    font-family: 'Ogonek';
    background: #fff;
    padding: 0 80px;
}
/*
@media (min-width: 768px) and (max-width: 1024px) {
    h2.background { font-size: 10pt;}
}
*/
@media (max-width: 768px) {
    h2.background { font-size: 10pt;}
    h2.background:before { display: none;}
    h2.background span { padding: 0 20px; margin: 0 }
}

@media (min-width: 1200px) {
    .header-container {
      width: 1200px;
      display: inline-block;
    }
}

/*header sections*/
.header-container {
  vertical-align: middle;
}

.green-line-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  border-color: #718f40;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
}
/*green text*/
.header-container span {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Ogonek';
  font-size: 14pt;
  width: 100%;
  padding: 20px;
  border-color: #718f40;
  color: #718f40;
  border-style: solid;
  border-width: 1px;
}
@media (max-width: 768px) {
    .header-container span { font-size: 10pt;}
}
/*header imgs*/
.header-container img {
  display: unset;
}
.header-main-img {
  text-align: right;
  float: right;
  padding: 0;
}
.header-donde-img {
  padding: 55px 46px 46px;
}
.green-header span {
  font-size: 25pt;
  display: inline-block;
}
.green-header {
  padding-right: 140px;
}
.header-container-l .header-donde-img {
  float: left !important;
}
.header-container-l { width: 715px;}
.header-container-r { width: 485px;}

@media (max-width: 1000px) {
    .header-donde-img {
      display: none !important;
      padding: 0 !important;
    }
    .page-container .green-header {
      margin: 0;
      display: none;
      padding: 0 !important;
    }
    .header-main-img {
      text-align: center;
      float: unset;
    }
}
@media (max-width: 1200px) {
    .header-container-l { display: none;}
    .header-container-r { 
      width: 100%;
      float: none;
      text-align: center;
    }
}
