/*navbar styles*/
.navbar a.active {
    text-decoration: none !important;
    text-decoration-color: none !important;
    color: orange !important;
    padding-bottom: 3px;
    border-bottom: orange 3px solid;
}
.navbar img {
    width: 100%;
}
.navbar a {
    text-transform: uppercase;
    color: gray;
}
.navbar a:hover {
    text-decoration: none !important;
    text-decoration-color: orange !important;
}
/*.navbar-brand a.active {
    text-decoration: none !important;
    text-decoration-color: none !important;
    padding-bottom: 3px;
    border-bottom: none !important;
}
*/
.navbar-toggle {
    background-color: white;
}
/*custom logo resolution based*/
.logo {
    margin: -10px;
    padding: 0;
    width: 120px;
    height: 40px;
}
@media (max-width: 1024px) {
    .logo.desktop {
        display: none !important;
    }
}
@media (min-width: 1025px) {
    .logo.mobile {
        display: none !important;
    }
}
/*corner imgs*/
@media (min-width: 1025px) {
    .navbar {
        background-image:
            url(https://s3.amazonaws.com/towncenterweb/assets/img_navbar01.png),
            url(https://s3.amazonaws.com/towncenterweb/assets/img_navbar02.png);
        background-position:
            left 0px top 0px,
            right 0px top 0px;
        background-repeat: no-repeat;
    }
    .footer-left {
        background-image: url('https://s3.amazonaws.com/towncenterweb/assets/img_footer01.png');
        background-repeat: no-repeat;
        background-position: left 0px bottom 0px;
        height: 187px;
        float: left;
    }
    .footer-right {
        background-image: url('https://s3.amazonaws.com/towncenterweb/assets/img_footer02.png');
        background-repeat: no-repeat;
        background-position: right 0px bottom 0px;
        height: 187px;
        float: right;
    }
}
/*footer styles*/
.footer-url {
    padding: 5px;
}
.footer-icon {
    padding: 5px;
    width: 32px;
}
.footer-icon.facebook:hover {
    opacity: 0.6;
    /*background-color: #4267b2;*/
}
.footer-icon.instagram:hover{
    opacity: 0.6;
    /*background-color: #d10869;*/
}
.footer-imgs{
    display: inline-flex;
}
/*footer btn img*/
.more-info-btn {
    color: white;
    background-color: green;
    font-size: 14px;
}
.donde-img {
    max-height: 70px;
    margin: 20px;
    padding: 0 5px;
}
