/* sliders & arrows */
.slick-arrow.slick-prev:before, .slick-arrow.slick-next:before {
    display: none;
    font-size: 40px;
}
.slick-arrow.slick-prev:hover, .slick-arrow.slick-next:hover {
    opacity: 0.9;
}
.slick-arrow.slick-prev {
    margin-left: 5%;
    z-index: 1000;
}
.slick-arrow.slick-next {
    position: absolute;
    -webkit-text-fill-color: orange;
    text-decoration: none;
    margin-right: 8%;
}
@media (max-width: 1024px) {
    .slick-arrow.slick-prev {
        margin-left: 6%;
    }
    .slick-arrow.slick-prev img{
        width: 32px;
    }
    .slick-arrow.slick-next {
        margin-right: 10%;
    }
    .slick-arrow.slick-next img {
        width: 32px;
    }
}
/* home sliders imgs */
.slider-offer-img {
    padding: 1px;
}

/*stores slider*/
/*hide default arrow*/
.glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-chevron-right {
    display: none;
}
/*store slider arrows*/
.carousel-control {
    display: block;
    width: 64px;
    height: 64px;
    opacity: 1;
    top: 40%;
}
@media (min-width: 1024px) {
    .carousel-control.left {
        background-image: url(https://s3.amazonaws.com/towncenterweb/assets/ic_back.png);
        left: 20px;
    }
    .carousel-control.right {
        background-image: url(https://s3.amazonaws.com/towncenterweb/assets/ic_next.png);
        right: 20px;
    }
}
@media (max-width: 1024px) {
    .carousel-control.left {
        background-image: url(https://s3.amazonaws.com/towncenterweb/assets/ic_back_sm.png) !important;
        background-repeat: no-repeat;
        margin-left: 20px;
    }
    .carousel-control.right {
        background-image: url(https://s3.amazonaws.com/towncenterweb/assets/ic_next_sm.png) !important;
        background-repeat: no-repeat;
        margin-right: 20px;
    }
}
@media (max-width: 900px) {
    .carousel-control.right {
        margin-right: 0px;
    }
}
@media (max-width: 600px) {
    .carousel-control.right {
        margin-right: 0px;
    }
}
