/*store badges*/
.store-sm-img {
  padding: 1px;
  margin-left: 11px;
  max-width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 3px;
}
.store-sm-txt {
  margin: 5px;
  padding: 5px;
  white-space: pre-wrap; 
  overflow: hidden;
  /*max-height: 80px;*/
}
.card-name {
  white-space: pre-wrap; overflow: hidden;
}
.badge {
  vertical-align: top;
  text-align: left;
  background-color: white;
  border-radius: 0px;
  /*margin: 5px;*/
  /*margin-top: 60px;*/
  border-style: double;
  border-width: 1px;
  border-color: #BDBDBD;
  color: black;
  font-weight: 500;
  padding: 0px;
  width: 552px;
}
.badge-location {
  border-top: #BDBDBD;
  border-top-style: ridge;
  border-width: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.badge-location-img {
  /*height: 16px;*/
  padding-left: 50px;
  padding-right: 30px;
}
/*badge icons*/
.resto-list-container .resto-badge .badge-location img {
  width: 30px;
  margin-right: 30px;
  margin-left: 175px;
  vertical-align: text-bottom;
}
.store-list-container .store-badge .badge-location img {
  width: 30px;
  margin-right: 30px;
  margin-left: 175px;
  vertical-align: text-bottom;
}
/*end badge icons*/
.hospital-section {
  padding-top: 20px;
  padding-left: 10%;
}
.store-badge {
  text-align: left;
  width: 552px;
  /*height: 218px;*/
  background-color: white;
  border-radius: 0px;
  margin-bottom: 53px;
  border-style: double;
  border-width: 1px;
  border-color: #BDBDBD;
}
.resto-badge {
  text-align: left;
  width: 552px;
  /*height: 218px;*/
  background-color: white;
  border-radius: 0px;
  margin-bottom: 53px;
  border-style: double;
  border-width: 1px;
  border-color: #BDBDBD;
}

.resto-map-img { padding: 0}
.store-map-img { padding: 0}

.store-badge-img { height: 145px; width: 145px;}
.resto-badge-img { height: 145px; width: 145px;}

.store-map-badge-right {  width: 495px; margin-top: 60px;}
.store-map-badge-left {  width: 495px; margin-top: 60px;}
@media (min-width: 1200px) {
  .store-map-badge-left {
    margin-right: 172px;
  }
}

.resto-map-badge-right {  width: 495px; margin-top: 60px;}
.resto-map-badge-left {  width: 495px; margin-top: 60px;}

@media (min-width: 1200px) {
  /*only desktop*/
  .card-pull-right { margin-left: 96px;}
  .resto-map-badge-left { margin-right: 172px;}
}

.roboto20 { font-size: 20pt; margin: 0;}
.roboto22 { font-size: 22pt; margin: 0;}
.roboto27 { font-size: 27pt; margin: 0;}

.lightgray-store { color: #BDBDBD;}
