/*store badges*/
.store-sm-img {
  padding: 1px;
  margin-left: 11px;
  max-width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 3px;
}
.store-sm-txt {
  margin: 5px;
  padding: 5px;
  white-space: pre-wrap; 
  overflow: hidden;
  /*max-height: 80px;*/
}
.card-name {
  white-space: pre-wrap; overflow: hidden;
}
.badge {
  text-align: left;
  background-color: white;
  border-radius: 0px;
  margin: 5px;
  border-style: double;
  border-width: 1px;
  border-color: #BDBDBD;
  color: black;
  font-weight: 500;
  padding: 0px;
  width: 552px;
}
.badge-location {
  border-top: #BDBDBD;
  border-top-style: ridge;
  border-width: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.badge-location-img {
  padding: 0 10px;
  height: 16px;
}
/*badge icons*/
.resto-list-container .resto-badge .badge-location img {
  width: 30px;
  margin-right: 30px;
  margin-left: 175px;
  padding-bottom: 20px;
}
.store-list-container .store-badge .badge-location img {
  width: 30px;
  margin-right: 30px;
  margin-left: 175px;
  padding-bottom: 20px;
}
/*end badge icons*/
.hospital-section {
  padding-top: 20px;
  padding-left: 10%;
}
.store-badge {
  text-align: left;
  width: 552px;
  /*height: 218px;*/
  background-color: white;
  border-radius: 0px;
  margin-bottom: 53px;
  border-style: double;
  border-width: 1px;
  border-color: #BDBDBD;
}
.resto-badge {
  text-align: left;
  width: 552px;
  /*height: 218px;*/
  background-color: white;
  border-radius: 0px;
  margin-bottom: 53px;
  border-style: double;
  border-width: 1px;
  border-color: #BDBDBD;
}

.resto-map-img { height: 530px; width: 530px;}
.store-map-img { height: 530px; width: 530px;}

.store-badge-img { height: 145px; width: 145px;}
.resto-badge-img { height: 145px; width: 145px;}

.roboto20 { font-size: 20pt; padding: 0; margin: 0;}
.roboto22 { font-size: 22pt; padding: 0; margin: 0;}
.roboto27 { font-size: 27pt; padding: 0; margin: 0;}

.lightgray-store { color: #BDBDBD;}
